@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Itm</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Anderson </td>
      <td>Sanchez</td>
      <td>Calle 22</td>
      <td>54454</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>lina</td>
      <td>Ortiz</td>
      <td>calle 25</td>
      <td>85858</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Julio</td>
      <td>Arias</td>
      <td>cra 50 </td>
      <td>54545</td>
    </tr>
    <th scope="row">4</th>
      <td>Diego </td>
      <td>Perez</td>
      <td>car 20 </td>
      <td>30250021</td>
    </tr>
  </tbody>
</table>